body {
    padding-top: 70px;
  }
  .button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
  #content {
    position: absolute;
    top: 100px;
  }
  /* Color of the links BEFORE scroll */
  .navbar-scroll .nav-link,
  .navbar-scroll .navbar-toggler-icon,
  .navbar-scroll .navbar-brand {
    color: #262626;
  }

  /* Color of the navbar BEFORE scroll */
  .navbar-scroll {
    background-color: #da564f;
  }

  /* Color of the links AFTER scroll */
  .navbar-scrolled .nav-link,
  .navbar-scrolled .navbar-toggler-icon,
  .navbar-scroll .navbar-brand {
    color: #262626;
  }

  /* Color of the navbar AFTER scroll */
  .navbar-scrolled {
    background-color: rgb(206, 143, 143);
  }

  /* An optional height of the navbar AFTER scroll */
  .navbar.navbar-scroll.navbar-scrolled {
    padding-top: auto;
    padding-bottom: auto;
  }
  .navbar-brand {
    font-size: unset;
    height: 3.5rem;
  }
  nav {
    position: fixed;
    z-index: 1000;
    background-color: #222;
    opacity: 0.9;
    filter: alpha(opacity=50);
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.4);
  }
  html,
  body,
  .intro {
    height: 100%;
  }

  .gradient-custom-1 {
    /* fallback for old browsers */
    background: #cd9cf2;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to top,
      rgb(202, 85, 76),
      rgba(246, 243, 255, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to top,
      rgb(220, 124, 107),
      rgba(246, 243, 255, 1)
    );
  }

  table td,
  table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  tbody td {
    font-weight: 500;
    color: #999999;
  }



  /* Split the screen in half */
.split {
  height: 100%; 
  width: 50%;
  position: fixed;
  z-index: 1;
  /* top: 0; */
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: white;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
}

/* If you want the content centered horizontally and vertically */
.centered {
  
  /* border: 3px solid green; */
  /* background-color: #da564f; */

  
  text-align: center;
}