<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{% block title %}StockTrade{% endblock %}</title>

    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="static/css/fontawesome.css"/>
    <link rel="stylesheet" href="static/css/brands.css"/>
    <link rel="stylesheet" href="static/css/solid.css"/>

    <link rel="stylesheet" href="static/css/styles.css"/>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/script.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.1/dist/sweetalert2.all.min.js"></script>
    <script src="static/js/index.js"></script>

</head>
<body style="padding: 0px">

{% include "sweetalert.html" %}
<div class="container">{% block content %} {% endblock %}</div>
</body>
</html>
