<!DOCTYPE html>
<html>
<head>
	<title>Edit product page</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />

	<link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/fontawesome.css"/>
    <link rel="stylesheet" href="static/css/brands.css"/>
    <link rel="stylesheet" href="static/css/solid.css"/>

    <link rel="stylesheet" href="static/css/styles.css"/>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/index.js"></script>

</head>
<body>
	<div class="container" id="topdiv5">
		<h5 class="card-title">Edit your Product</h5>
		<form action="{{ url_for('views.edit', stock_id = result.stock_id) }}" method="POST">
			
	  		<div class="form-group">
	    		<label for="exampleFormControlTextarea1">Name</label>
	    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="stock_name" required>{{result.stock_name}}</textarea>
	  		</div>
	  		<div class="form-group">
	    		<label for="exampleFormControlTextarea1">Price</label>
	    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="stock_price" required>{{result.stock_price}}</textarea>
	  		</div>
			
	  		<button type="submit" class="btn btn-primary">Done</button>
		</form>
	</div>
		
    </body>
    </html>
		