<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/fontawesome.css"/>
    <link rel="stylesheet" href="static/css/brands.css"/>
    <link rel="stylesheet" href="static/css/solid.css"/>

    <link rel="stylesheet" href="static/css/styles.css"/>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/index.js"></script>
</head>
<body>
    <marquee class="news-scroll fixed-bottom" behavior="scroll" direction="left" onmouseover="this.stop();"
             onmouseout="this.start();">
        {% if stock_rows %}
            {% for row in stock_rows %}
                <a>{{ row.symbol }} {{ row.curr_price }}</a>
                <i class="fa-solid fa-circle fa-2xs"></i>
            {% endfor %}
        {% endif %}
    </marquee>
<div>
    <nav class="navbar navbar-expand-lg navbar-scroll shadow-0 fixed-top border-bottom border-dark">
        <div class="container">
            <a class="nav-link font-weight-bold">STOCK TRADE</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.home') }}">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.orderpage') }}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.portfolio') }}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <form method="GET" action="{{ url_for('auth.login') }}">
                            <input type="submit" class="btn btn-dark ms-3" value="Logout"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


{% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}


  {% if rows%}
    <div class="container">
      <section class="intro">
        <div class="gradient-custom-1 h-100">
          <div class="mask d-flex align-items-center h-100">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12">
                  <div class="table-responsive bg-white">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th scope="col">Stock</th>
                          <th scope="col">Volume</th>
                          <th scope="col">Price</th>
                          <th scope="col">Order Type</th>

                        </tr>
                      </thead>
                      <tbody>
                        {%for row in rows%}
                        <tr>
                          <td style="color: #666666">
                            {{row.stock_name}}
                          </td>
                          <td>{{row.quantity}}</td>
                          <td>{{row.price}}</td>
                          <td>{{ row.order_type }}</td>

                        </tr>
                        {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    {%endif%}


</body>
</html>