<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>

    <link rel="stylesheet" href="static/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/styles.css"/>

    <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.bundle.min.js"></script>
    <script src="static/index.js"></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-scroll fixed-top shadow-0 border-bottom border-dark"
    >
      <div class="container">
        <!-- <a class="navbar-brand" href="#!">STOCK TRADE</a> -->
        <a class="nav-link font-weight-bold" href="#!">STOCK TRADE</a>
        <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('views.home')}}">Market</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('views.orderpage')}}">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('views.portfolio')}}">Portfolio</a>
            </li>
            <li class="nav-item">
              <form method="GET" action="{{url_for('auth.login')}}">
                <input type="submit" class="btn btn-dark ms-3" value="Logout" />
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h3 class="centered">This is your portfolio - Funds and Cash</h3>
    <div class="container">
        
        <div class="split left">
            <div class="centered">
             
              <h2>ADD FUNDS</h2>
              <p>2 buttons :- add , withdraw</p>
            </div>
          </div>
          
          <div class="split right">
            <div class="centered">
              
              <h2>INVESTED VALUE</h2>
              <p>Some text here too.</p>
            </div>
          </div>
    </div>

</body>
</html>