{% extends "base.html" %}
{% block content %}

<marquee class="news-scroll fixed-bottom" behavior="scroll" direction="left" onmouseover="this.stop();"
         onmouseout="this.start();">
    {% if stock_rows %}
            {% for row in stock_rows %}
                <a style="font-size: 25px;">
                   {{ row.symbol }} {{ row.curr_price }}
                        {% if row.arrow == "arrow_drop_down" %}
                            <span style="font-size: 20px; color: red"
                                  class="material-symbols-outlined">arrow_downward
                                            </span>
                        {% else %}
                            <span style="font-size: 20px; color: green"
                                  class="material-symbols-outlined">arrow_upward
                    </span>
                            </a>
                        {% endif %}
            {% endfor %}
        {% endif %}
</marquee>

<section class="py-5">
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-2 d-sm-flex justify-content-sm-center">
            <div class="col mb-4">
                <h2 class="fw-bold"><strong>Your Portfolio</strong></h2>
                <p class="bg-dark border rounded border-dark p-4">Funds : $ {{ funds }}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" style="margin-left:10px">
                        Add
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#withdrawModal" style="margin-left:10px">
                        Withdraw
                    </button>
                </p>
                <div class="d-flex flex-column align-items-center align-items-sm-start"></div>
                <p class="bg-dark border rounded border-dark p-4">Invested Value: $ {{ invested_value }}</p>
                <p class="bg-dark border rounded border-dark p-4">Current Value: $ {{ curr_value }}</p>
            </div>
            <div class="col mb-4">
                <h2 class="fw-bold"><strong>Your Stocks</strong></h2>
                <div class="table-responsive bg-white" style="height:280px; overflow-y:scroll;">
                    {% if stock_info %}
                        <table class="table ">
                            <thead>
                            <tr>
                                <th scope="col">Stock</th>
                                <th scope="col">Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in stock_info %}
                                <tr>
                                    <td>{{ row.symbol }}</td>
                                    <td>{{ row.stock_count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="d-flex flex-column align-items-center text-black">
                            <span class="material-symbols-outlined">analytics</span>
                            <h2>No records found</h2>

                        </div>

                    {% endif %}
                </div>

            </div>
        </div>

    </div>
</section>


<!-- The Modal -->
<div class="modal" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-black">Add Funds</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form action="{{ url_for('utility.add_funds') }}" method="POST">
                    <div class="form-group mb-3">
                        {#                        <label for="quantity">Amount</label>#}
                        <input
                                type="number"
                                class="form-control"
                                id="quantity"
                                name="quantity"
                                placeholder="Enter amount"

                        />
                    </div>


                    <br/>
                    <button
                            type="submit"
                            class="btn btn-primary"
                    >
                        Add funds
                    </button>
                </form>


            </div>

        </div>
    </div>
</div>
<!-- The Modal for withdraw-->
<div class="modal" id="withdrawModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-black">Withdraw Funds</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="text-black">Available funds to withdraw : $ {{ funds }} </p>
                <form action="{{ url_for('utility.withdraw_funds') }}" method="POST">
                    <div class="form-group mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="quantity"
                                name="quantity"
                                placeholder="Enter amount"
                                min="1"
                                max="{{ funds }}"

                        />
                    </div>


                    <br/>
                    <button
                            type="submit"
                            class="btn btn-primary"
                    >
                        Withdraw funds
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
