<table class="table mb-0" id="refresh">
    <thead>
    <tr>
        <th scope="col">Stock</th>
        <th scope="col">Current Price</th>
        <th scope="col">Day High</th>
        <th scope="col">Day Low</th>
        <th scope="col">Open Price</th>
        <th scope="col">Closing Price</th>
        <th scope="col">Volume</th>
        <th scope="col">Market Cap.</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% if rows %}
        {% for row in rows %}
            <tr>
                <td>{{ row.stock_name }}</td>
                <td>
                    {% if row.arrow == "arrow_drop_down" %}
                        <span style="font-size: 30px; color: red" class="material-symbols-outlined">{{ row.arrow }}
                                            </span>
                    {% else %}
                        <span style="font-size: 30px; color: green" class="material-symbols-outlined">{{ row.arrow }}
                                            </span>
                    {% endif %}
                </td>
                <td>{{ row.curr_price }}</td>
                <td>{{ row.day_high }}</td>
                <td>{{ row.day_low }}</td>
                <td>{{ row.open_price }}</td>
                <td>{{ row.close_price }}</td>
                <td>{{ row.volume }}</td>
                <td>{{ row.mark_cap }}</td>
                <td>
                    <button
                            style="padding: 0px; height: 30px; width: 100px"
                            data-id="{{ row.id }}"
                            class="buysell btn btn-dark ms-3">
                        Buy/Sell
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

    {% endif %}


<div class="modal fade" id="empModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title text-start text-dark">Buy/Sell</h3>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
