<!DOCTYPE html>
<html>
<head>
	<title>Edit product page</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<script type="text/javascript" src="../static/index.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container" id="topdiv5">
		<h5 class="card-title">Edit your Product</h5>
		<form action="{{ url_for('views.edit', stock_id = result.stock_id) }}" method="POST">
			
	  		<div class="form-group">
	    		<label for="exampleFormControlTextarea1">Name</label>
	    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="stock_name" required>{{result.stock_name}}</textarea>
	  		</div>
	  		<div class="form-group">
	    		<label for="exampleFormControlTextarea1">Price</label>
	    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="stock_price" required>{{result.stock_price}}</textarea>
	  		</div>
			
	  		<button type="submit" class="btn btn-primary">Done</button>
		</form>
	</div>
		
    </body>
    </html>
		