
{% for row in stock_details %} 

    <table class="table">
        <tr>
            <td>
            
            <p>Stock Name : {{row.stock_name}}</p>
            
            
            </td>
            <td>
              <p>Current Market Price : {{row.stock_price}}</p>
            </td>
        </tr>
    </table>
    
<div class="container">
    <form action= "{{ url_for('views.orders', stock_id = row.stock_id) }}" method="POST">
        <div class="form-group mb-3">
          <label for="quantity">Quantity</label>
          <input
            type="number"
            class="form-control"
            id="quantity"
            name="quantity"
            placeholder="Enter a quantity (1-100)"
            min="1"
            max="100"
          />
        </div>

        <div class="form-group mb-3">
          <label for="price"
            >Price (0=Market Order)</label
          >
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            placeholder="Enter price"
            
          />
        </div>
        <!-- <div class="form-group mb-3">
<label for="amount">Total Amount</label>
<input type="text" id="amount" value="" disabled />
</div> -->
        <br />
        <button
          type="submit"
          class="btn btn-primary"
        >
          Place Order
        </button>
      </form>
</div>



  {% endfor %}